<!DOCTYPE html>
<html>

<head>
  <title>New Artist</title>
  <link rel="stylesheet" href="/stile.css?version=3" />
</head>

<body>
  <header th:replace="base.html::intestazione">header</header>
  <h1>Modifica dati artista</h1>
  <form th:action="@{'/updateArtist/' +${artist.id}}" method="POST" th:object="${artist}" enctype="multipart/form-data">
    <div th:if="${#fields.hasGlobalErrors()}">
      <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
    </div>

    <div>
      Nome: <span><input required type="text" th:field="${artist.name}" /></span>
    </div>
    <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
    </span>
    <div>
      Cognome: <span><input required type="text" th:field="${artist.surname}" /></span>
      <span class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
    </div>
    <div>
      Data di nascita: <span><input required type="date" th:field="${artist.dateOfBirth}" /></span>
    </div>
    <div>
      Data di morte: <span><input required type="date" th:field="${artist.DeathDate}" /></span>
    </div>
    <div>
      inserisci immagine: <span><input name="imageFile" type="file" accept="image/*" /></span>
    </div>
    <span class="error" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></span>
    <div>
      <span><button type="submit">Conferma</button></span>
    </div>
  </form>
</body>

</html>