<!DOCTYPE html>
<html>
  <head>
    <title>Aggiungi regista</title>
	<link rel="stylesheet" href="/stile.css" />
  </head>
  <body>
	 
    <header th:replace="base.html::intestazione">header</header>
    <h1 th:text="'aggiungi regista per il film ' + ${movie.title}">Aggiungi regista </h1>
    <div th:if="${artists.isEmpty()}">Non ci sono artisti nel sistema</div>
    <ul>
      <li th:each="artist : ${artists}">
        <a th:href="@{'/admin/setDirector' + '/' + ${movie.id}+'/' + ${artist.id}}" th:text="${artist.name} + ' (' + ${artist.dateOfBirth} + ')'">Bishoy (2001)</a>
      </li>
    </ul>
  </body>
</html>
